<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{TITLE}}</title>
</head>

<body style=" 
	width: 1093px;
	height: 687px;
	padding: 174px 276px 43px 226px;
	background-color: #f9d923;
">

	<div style="text-align: left;width: 900px;margin: 50px 90px;">
		<!-- <img src="./logo.png" alt="inlazz_logo"> -->

		<h1 style="
			width: 504px;
			height: 52px;
			margin: 0 79px 91px 8px;
			font-family: IBMPlexMono;
			font-size: 40px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
			color: #000;
		">{{ CUSTOMER_SERVICE_PART_1 }}</h1>

		<p style=" 
		width: 530px;
		height: 46px;
		margin: 91px 53px 45px 8px;
		font-family: IBMPlexSans;
		font-size: 18px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #000;
		">
			{{ CUSTOMER_SERVICE_PART_2 }}
		</p>

		<a href="#" style="
            color: white; 
            background-color: black; 
            padding: 20px; 
            margin-top: 20px;
            display: inline-block;
            width: 180px;
            text-align: center;
            font-size: 18px;
        ">
			{{ CUSTOMER_SERVICE_PART_3 }}
		</a>
		<span style="
			display: block; 
			margin: 80px 0 20px;
			text-align: center;
			padding-bottom: 26px;
		">
			{{ CUSTOMER_SERVICE_PART_4 }} <br> {{ DATE }}
		</span>
	</div>
</body>

</html>