<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{TITLE}}</title>
</head>

<body>
	<table style="margin: 0 auto;width: 780px;">
		<tbody>
			<tr>
				<td>
					<div style=" ">
						<div style="
						padding: 1rem;
						font-family: Arial, Helvetica, sans-serif;
					">
							<div>
								<p>{{GREETING}}</p>
							</div>
							<div>
								<h1 style="margin: 30px 0">{{CUSTOMER_SERVICE_PART_2}}</h1>
								<p>
									{{CUSTOMER_SERVICE_PART_10}}
								</p>
							</div>
							<div style="
										background-color: #fff;
										padding: 1rem;
										border-radius: 10px;
										margin: 40px 0 45px;
										max-width: 420px;
									">
								<span>{{CODE}}</span>
							</div>
							<div style="margin-bottom: 30px">
								<b>{{CUSTOMER_SERVICE_PART_3}}</b>
								<p>
									{{CUSTOMER_SERVICE_PART_4}}, {{CUSTOMER_SERVICE_PART_5}},
									{{CUSTOMER_SERVICE_PART_6}}, {{CUSTOMER_SERVICE_PART_7}}
								</p>
								<p style="max-width: 450px; margin: 40px 0">
									{{COSTUMER_MESSAGE_PART_11}}
								</p>
							</div>
							<div>
								<p style="margin-top: 0">
									{{GREETING_2}}<br />
									{{FOOTER_SERVICE_PART_1}}
								</p>
								<img width="125px" src="{{TEMPLATE_IMAGE_INLAZZ}}" alt="logo" />
							</div>
							<div style="margin-top: 50px; font-size: 12px; text-align: center">
								<span>{{FOOTER_SERVICE_PART_2}}</span>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>
